@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Goshbe";
  src: url("../src/asset/OTF.otf");
  font-display: swap; 
}

@font-face {
  font-family: "Zallord";
  src: url("../src/asset/Zallord+free.ttf");
  font-display: swap; 
}